.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100%;
}

.cover__link:hover .cover__overlay {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .cover__link:hover .cover__overlay {
        opacity: 0.3;
        transition: none;
    }
}