.barentsburg__container {
    display: flex;
}

@media (max-width: 1024px) {
    .barentsburg__container {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width: 768px) {
    .barentsburg__container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 695px) {
    .barentsburg__container {
        padding-left: 16px;
        padding-right: 16px;
    }
}