.cover__subtitle {
    max-width: 382px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    justify-self: flex-end;
    position: relative;
    z-index: 1;
    margin-bottom: 48px;
}

@media (max-width: 768px) {
    .cover__subtitle {
        margin-bottom: 40px;
    }
}

@media (max-width: 650px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        max-width: 270px;
    }
}

@media (max-width: 375px) {
    .cover__subtitle {
        margin-bottom: 24px;
    }
}