.header__logo {
    width: 142px;
    height: 42px;
    transition: 0.3s;
    fill: white;
}

.header__logo:hover {
    fill: #FE5F55;
}

@media (max-width: 700px) {
    .header__logo {
        font-size: 18px;
        line-height: 17px;
    }
}