@import url(./__lang-list/header__lang-list.css);
@import url(./__list-item/header__list-item.css);
@import url(./__lang/header__lang.css);
@import url(./__logo/header__logo.css);
@import url(./__lang/_selected/header__lang_selected.css);

.header {
    padding: 30px 128px 48px 128px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1280px) {
    .header {
        padding: 30px 48px 48px 48px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 30px 24px 48px 24px;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 16px 16px 48px 16px;
    }
}