.video__item {
    box-sizing: border-box;
    width: 100%;
    max-height: 323px;
    border-radius: 10px;
    position: relative;
}

.video__item:first-child {
    margin-right: 18px;
}


@media (max-width: 768px) {
    .video__item {
        height: 200px;
        width: 343px;
    }

    .video__item:first-child {
        margin-right: 16px;
    }
}

@media (max-width: 615px) {
    .video__item:first-child {
        margin-right: 0;
        margin-bottom: 8px;
    }
}

@media (max-width: 350px) {
    .video__item {
        width: 288px;
        height: 192px;
    }
}