.header__lang_selected::before {
    content: '';
    bottom: 0;
    left: 0;
    transform: translate(0, 1px);
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .header__lang_selected::before {
        display: block;
    }

    .header__lang:hover {
        color: white;
        transition: none;
    }
}