.header__lang_selected {
    text-decoration: underline;
}

/* .header__lang_selected::before {
    content: '';
    bottom: 0;
    left: 0;
    transform: translate(0, 1px);
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
} */

/* .header__lang_selecteds:hover {
    color: #FE5F55;
    transition: 0.3s;
}
