.video__icon-play {
    width: 41px;
    height: 41px;
    cursor: pointer;
    justify-self: flex-start;
    margin-top: 4%;
    margin-bottom: 27%;
    position: relative;
    left: 5%;
    fill: #FFFFFF;
    transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
    .video__icon-play {
        margin-bottom: 5%;
    }
}

@media (max-width: 768px) {
    .video__icon-play {
        transition: none;
    }
}