.video__icon-play {
    width: 41px;
    height: 41px;
    cursor: pointer;
    justify-self: flex-start;
    margin-top: 4%;
    margin-bottom: 27%;
    position: relative;
    left: 5%;
    fill: #FE5F55;
}

@media (max-width: 768px) {
    .video__icon-play {
        margin-bottom: 5%;
    }
}