.video__item_type_kamchatka {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../../../images/kamchatka.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}