@import url(./__container/additional__container.css);
@import url(./__heading/additional__heading.css);
@import url(./__item/additional__item.css);
@import url(./__text/additional__text.css);
@import url(./__overlay/additional__overlay.css);

@import url(./__item/_type/additional__item_type_byhta.css);
@import url(./__item/_type/additional__item_type_cherepovec.css);
@import url(./__item/_type/additional__item_type_nikola.css);
@import url(./__item/_type/additional__item_type_shihan.css);

.additional {
    max-width: 1184px;
    margin: 0;
    margin: auto;
    margin-bottom: 102px;
    padding-left: 48px;
    padding-right: 48px;
}

@media (max-width: 768px) {
    .additional {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 375px) {
    .additional {
        margin-bottom: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
}