.footer__navigation {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 678px) {
    .footer__navigation{
        flex-direction: column;
        margin-bottom: 48px;
    }
}