.footer__list {
    margin-right: 18px;
}

.footer__list:last-child {
    margin-right: 0;
}

@media (max-width: 678px) {
    .footer__list {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .footer__list:last-child {
        margin-bottom: 0;
    }
}