@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__url-container/place__url-container.css);
@import url(./__wrapper/place__wrapper.css);
@import url(./__paragraph-container/place__paragraph-container.css);

.place {
    max-width: 984px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    margin-bottom: 72px;
}

.place:nth-last-child(1) {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .place{
        grid-row-gap: 32px;
        grid-column-gap: 28px;
    }
}

@media (max-width: 768px) {
    .place{
        grid-column-gap: 28px;
        margin-bottom: 48px;
    }
}

@media (max-width: 550px) {
    .place {
        display: flex;
        flex-direction: column;
    }
}