.place__url {
    position: relative;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    align-self: flex-start;
}

.place__url::before {
    content: '';
    bottom: 0;
    left: 0;
    transform: translate(0, -4px);
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #FFFFFF;
    transition: 0.3s;
}

.place__url:hover::before {
    width: 100%;
}

.place__url:hover {
    color: #FE5F55;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .place__url {
        text-decoration: underline;
    }

    .place__url::before {
        display: none;
    }

    .place__url:hover {
        color: white;
        transition: none;
    }
}

@media (max-width: 550px) {
    .place__url {
        display: none;
    }
}